---
import type { Project } from "../types/config";
import { Markdown } from "@astropub/md";

type Props = Project;

const { title, description, year, url } = Astro.props;
---

<a
  href={url}
  target="_blank"
  class="py-6 flex flex-col gap-3 group-hover:opacity-70 hover:opacity-100 transition-opacity"
>
  <div>
    <div class="flex items-center gap-2">
      <h2 class="font-semibold text-lg">{title}</h2>
      <span class="text-sm opacity-50">{year}</span>
    </div>
    <div class="text-sm text-gray-600 opacity-70">
      <Markdown of={description} />
    </div>
  </div>
</a>
